absl-py==2.5.0
alkaid==0.7.1
da4ml==0.6.0
h5py==3.16.0
hgq2 @ git+https://github.com/calad0i/HGQ2@88ddffde25e8f855c9534015863fa07b269d0b60
jax==0.11.0
jaxlib==0.11.0
joblib==1.5.3
keras==3.14.0
markdown-it-py==4.2.0
mdurl==0.1.2
ml-dtypes==0.5.4
namex==0.1.0
narwhals==2.24.0
numpy==2.5.1
opt-einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==3.0.5
pygments==2.20.0
python-dateutil==2.9.0.post0
pyyaml==6.0.3
quantizers==1.2.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.70.0
typing-extensions==4.16.0
